h1,p{
    margin: 0;
}

.bg-second{
    background-color: #e9ecef;
}
a{
	color: white;
}
a:hover{
	text-decoration: none;
}
.img-fluid img
{
	width: 400px;
	height: 300px;
	float: right;
	
}