@font-face {
    font-family: "highlight";
    src:url('../fonts/Poiret_One/PoiretOne-Regular.ttf')
}

@font-face{
    font-family: "all";
    src:url('../fonts/Mada/Mada-Regular.ttf')
}
*{
	font-family: "all";
	letter-spacing: 1px;
}
nav,a{
	letter-spacing: 2px;
}
h1,p{
    margin: 0;
}

.bg-second{
    background-color: #e9ecef;
}
a{
	color: white;
}
a:hover{
	text-decoration: none;
}
.img-fluid img
{
	width: 100%;
	height:500px;
	
}

#contactbg {
	background-color: pink;
}

#jumbomain{
	background-color: #343440;
	color: white;
}


.poolimg img{
	height: 600px;
}

